---
layout: layouts/main.layout.njk
---
<section>
  {% include "components/section-jumbotron.html" %}
  {% include "components/section-skills.html" %}
  {% include "components/section-technical-skills.html" %}
  {% include "components/section-educations.html" %}
  {% include "components/section-experiences.html" %}
</section>