---
layout: layouts/main.layout.njk
---

<section>

  {% include "section-jumbotron.html" %}
  {% include "section-skills.html" %}
  {% include "section-technical-skills.html" %}
  {% include "section-educations.html" %}
  {% include "section-experiences.html" %}

</section>