<section>
  <h3>{{ educationSection.title }}</h3>
  <p>{{ educationSection.description }}</p>
  <ul>
    {%- for year in educationSection.years %}
      <li>
        <div>
          <h4>{{ year.title }}</h4>
          <ul>
            {%- for education in year.educations %}
              <li>
                {{ education }}
              </li>
            {%- endfor %}
          </ul>
        </div>
      </li>
    {%- endfor %}
  </ul>
</section>