<div class="py-4 text-gray-800">
  <h4 class="text-2xl text-gray-900">{{ experience.company }}</h4>
  <div class="flex">
    <div class="flex-grow-0">{{ experience.dateBegin }}</div>
    <div class="flex-grow"></div>
    <div class="flex-grow-0">{{ experience.place }}</div>
  </div>
  <p class="text-xl py-1">{{ experience.title }}</p>
  <p class="text-base py-1">{{ experience.description }}</p>
  {% include "tasks.html" %}
  <p class="text-sm text-gray-500 italic mb-1">Environnement technique</p>
  {% include "tags.html" %}
</div>
