<div id="experience" class="py-6 text-black text-opacity-80">
  <div class="experience-content">
    <h3 class="text-opacity-90">{{ experience.company }}</h3>
    <div
      class="flex border-b-2 border-gold py-2 text-sm text-black text-opacity-50"
    >
      <div class="flex-grow-0">
        De {{ experience.dateBegin | experienceDate }} à {{ experience.dateEnd |
        experienceDate }}
      </div>
      <div class="flex-grow"></div>
      <div class="flex-grow-0">{{ experience.place }}</div>
    </div>
    <p class="text-xl mt-2 py-2 font-semibold">{{ experience.title }}</p>
    <p class="text-base py-1">{{ experience.description }}</p>
    {% include "components/tasks.html" %}
  </div>
  <div class="experience-metadata">
    <p class="text-sm text-black text-opacity-50 italic mb-1">
      Environnement technique
    </p>
    {% include "components/tags.html" %}
  </div>
</div>
