<header class="grid grid-cols-8 mb-12 py-4 text-lg">
  <div class="col-span-1"></div>
  <div class="col-span-3 my-2 py-1">
    <a href="/" class="text-black"
      ><span class="text-cyan">/</span><span class="text-gold mr-1">/</span>{{
      website.title }}</a
    >
  </div>
  <div class="col-span-4 flex">
    <div class="flex-grow"></div>
    <ul class="flex my-2">
      <li class="px-4 py-1 mx-4"><a href="/">Accueil</a></li>
      <li class="px-4 py-1 mx-4">
        <a href="/alvin-berthelot.html">Qui suis-je ?</a>
      </li>
      <li class="px-4 py-1 mx-4 bg-cyan font-semibold rounded-sm">
        <a href="#contact" class="text-white">Contact</a>
      </li>
    </ul>
  </div>
</header>
