<div id="skills">
  <h2 class="title">
    {{ skillsSection.title }}
  </h2>

  <p class="description">
    {{ skillsSection.description }}
  </p>

  <div class="list-skills">
    <ul>
      {%- for skill in skillsSection.skills %}
      <li>
        <div>
          <h3 class="text-opacity-90 mb-2">
            {{ skill.title }}
          </h3>
          <ul class="list-square list-inside mb-6">
            {%- for subskill in skill.subskills %}
            <li>{{ subskill }}</li>
            {%- endfor %}
          </ul>
        </div>
      </li>
      {%- endfor %}
    </ul>
  </div>
</div>
