<section class="grid grid-cols-8 mb-12">
  <div class="col-span-1"></div>
  <div class="col-span-3">
    <h2 class="text-5xl text-black font-semibold">
      {{ firstname }} {{ lastname }}
    </h2>
    <p class="py-1">
      Je travaille dans le web depuis plus de 15 ans maintenant dans des
      environnements techniques variés au cours de nombreuses expériences.
    </p>
    <!-- <p class="py-1">Ici vous retrouverez</p> -->
    <ul class="py-1">
      <li><a href="#skills" class="text-cyan">{{ skillsSection.title }}</a></li>
      <li>
        <a href="#technical-skills" class="text-cyan"
          >{{ technicalSkillsSection.title }}</a
        >
      </li>
      <li>
        <a href="#educations" class="text-cyan">{{ educationSection.title }}</a>
      </li>
      <li>
        <a href="#work-experiences" class="text-cyan"
          >{{ workExperienceSection.title }}</a
        >
      </li>
      <li>
        <a href="#events" class="text-cyan">{{ eventsSection.title }}</a>
      </li>
    </ul>
  </div>
  <div class="col-span-4">
    <img src="assets/pictures/jumbotron-alvin-berthelot.jpg" alt="" />
  </div>
</section>
