<div id="skills" class="grid grid-cols-8 mb-12">
  <div class="col-span-1"></div>
  <h2 class="col-span-7">
    {{ skillsSection.title }}
  </h2>
  <div class="col-span-1"></div>
  <p class="col-span-2 py-2 mb-6">
    {{ skillsSection.description }}
  </p>
  <div class="col-span-1"></div>
  <div class="col-span-3">
    <ul>
      {%- for skill in skillsSection.skills %}
      <li>
        <div>
          <h3 class="text-opacity-90 mb-2">
            {{ skill.title }}
          </h3>
          <ul class="list-square list-inside mb-6">
            {%- for subskill in skill.subskills %}
            <li>{{ subskill }}</li>
            {%- endfor %}
          </ul>
        </div>
      </li>
      {%- endfor %}
    </ul>
  </div>
  <div class="col-span-1"></div>
</div>
