---
layout: layouts/main.layout.njk
---

<h2>{{ firstname }} {{ lastname }}</h2>

<h3>Compétences</h3>
<ul>
  {%- for skill in skills %}
  <li>
    <div>
      <h4>{{ skill.title }}</h4>
      <ul>
        {%- for subskill in skill.subskills %}
        <li>{{ subskill }}</li>
        {%- endfor %}
      </ul>
    </div>
  </li>
  {%- endfor %}
</ul>




