---
import Stack from "./stack.astro";
const { aggregate } = Astro.props;
---

<div id="aggregate">
  <div class="stacks-title-horizontal">
    <h3 class="title">{aggregate.title}</h3>
  </div>
  <div class="stacks">
    <ul class="list-square list-outside flex flex-wrap">
      {aggregate.stacks?.map((stack) => <Stack stack={stack} />)}
    </ul>
  </div>
  <div class="stacks-title-vertical">
    <h3 class="title">{aggregate.title}</h3>
  </div>
</div>
