---
import type { Substack } from "../../../types/employee.types";

import Knowledge from "./knowledge.astro";

const substack: Substack = Astro.props.substack;
---

<li class="my-4">
  <span class="text-sm">
    {substack.title}
  </span>
  <span>
    <ul>
      {
        substack.knowledges.map((knowledge) => (
          <Knowledge knowledge={knowledge} />
        ))
      }
    </ul>
  </span>
</li>
