<section id="services" class="grid grid-cols-8 mb-12">
  <div class="col-span-1"></div>
  <h3 class="col-span-7 text-4xl text-cyan text-opacity-50 mb-6 uppercase">
    Services
  </h3>
  <div class="col-span-1"></div>
  <p class="col-span-3 py-2 mb-6 text-base">
    {{ website.title }} propose des services dans toutes les étapes clés pour
    réaliser des applications web et mobiles.
  </p>
  <div class="col-span-4"></div>
  <div class="col-span-2"></div>
  <div class="col-span-2">
    <h4 class="text-lg text-black text-opacity-80 font-bold mt-12 mb-4">
      Conseil
    </h4>
    <p>
      Accompagnement et pédagogie sur les multiples possibilités fonctionnelles
      et techniques qui s'offrent à vous pour répondre à vos objectifs.
    </p>
  </div>
  <div class="col-span-1"></div>
  <div class="col-span-2">
    <h4 class="text-lg text-black text-opacity-80 font-bold mt-12 mb-4">
      Réalisation
    </h4>
    <p>
      Conception, maquettage et développement de solutions ergonomiques pour vos
      utilisateurs et pérennes techniquement.
    </p>
  </div>
  <div class="col-span-1"></div>
  <div class="col-span-2"></div>
  <div class="col-span-2">
    <h4 class="text-lg text-black text-opacity-80 font-bold mt-12 mb-4">
      Mise en service
    </h4>
    <p>
      Déploiement, hébergement des applications web et publication sur les
      stores privés (AppStore, Google Play) pour les applications mobiles.
    </p>
  </div>
  <div class="col-span-1"></div>
  <div class="col-span-2">
    <h4 class="text-lg text-black text-opacity-80 font-bold mt-12 mb-4">
      Suivi et gestion
    </h4>
    <p>
      Maintenance, évolutions et analyse du trafic pour améliorer constamment
      vos applications.
    </p>
  </div>
  <div class="col-span-1"></div>
</section>
