<section id="whoami" class="grid grid-cols-8 mb-12">
  <div class="col-span-1"></div>
  <h2 class="col-span-7">
    Réalisations
  </h2>

  <div class="col-span-3">
    <img src="assets/pictures/cababam.png" alt="Application Cababam" />
  </div>
  <div class="col-span-1"></div>

  <div class="col-span-2">
    <h3 class="text-opacity-80 mb-4">
      Cababam
    </h3>
    <p class="py-2 text-base">
      Cababam est une application web qui t'aide à faire tes courses grâce à un
      panel de fonctionnalités intelligentes et collaboratives.
    </p>
    <p class="py-2 text-cyan font-semibold">
      <a href="https://www.cababam.com" target="_blank"
        >Découvrir Cababam <span class="align-middle">→</span></a
      >
    </p>
  </div>
  <div class="col-span-2"></div>
</section>
