<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content="Eleventy">
        <title>{{ website.title }}</title>
        <link rel="stylesheet" href="index.css">
    </head>
    <body class="font-body text-black text-opacity-80">
        {% include "components/header.html" %}
        {{ content | safe }}
        {% include "components/footer.html" %}
    </body>
</html>