---
const { company } = Astro.props;
---

<header>
  <div class="company">
    <a href="/" class="text-black"
      ><span class="text-cyan">/</span><span class="text-gold mr-1">/</span>{
        company.name
      }</a
    >
  </div>
  <div class="navigation">
    <ul class="">
      <li><a href="/">Accueil</a></li>
      <li>
        <a href="/alvin-berthelot.html">Qui suis-je ?</a>
      </li>
      <li class="contact">
        <a href="#contact">Contact</a>
      </li>
    </ul>
  </div>
</header>
