---

---

<section id="whoami" class="grid grid-cols-8 mb-12">
  <div class="col-span-1"></div>
  <div class="col-span-3">
    <h2>Qui suis-je ?</h2>
    <p class="py-2 text-base">
      Bonjour, moi c'est Alvin, je travaille dans le web depuis plus de 15 ans
      maintenant !
    </p>
    <p>
      En tant que freelance, je peux proposer mes services pour des postes tels
      que CTO, engineering manager, consultant, formateur et tech lead /
      développeur senior pour des environnements techniques à tendance web et
      mobile.
    </p>
    <p class="py-2 text-cyan font-semibold">
      <a href="alvin-berthelot.html"
        >Découvrir tout mon parcours <span class="align-middle">→</span></a
      >
    </p>
  </div>
  <div class="col-span-1"></div>
  <div class="col-span-3">
    <img
      src="/jumbotron-alvin-berthelot.jpg"
      alt="Photo de profil d'Alvin Berthelot"
    />
  </div>
</section>
