---
import type { EducationsByYear } from "../../../types/employee.types";

const educationsByYear: EducationsByYear = Astro.props.educationsByYear;
---

<li>
  <section class="mb-4">
    <h3 class="text-4xl">
      {educationsByYear.year}
    </h3>
    <ul class="list-outside">
      {
        educationsByYear.educations.map((education) => (
          <li>
            <span class="text-base text-black text-opacity-90">
              {education.title}
            </span>
          </li>
        ))
      }
    </ul>
  </section>
</li>
