---
import type { Employee } from "../../types/employee.types";

import EducationsByYear from "./educations/educations-by-year.astro";

const employee: Employee = Astro.props.employee;
const { educationsSection } = employee;
---

<section id="educations">
  <div class="educations-content">
    <h2 class="title">{educationsSection.title}</h2>
    <ul class="list-educations">
      {
        educationsSection.educationsByYear?.map((educationsByYear) => (
          <EducationsByYear educationsByYear={educationsByYear} />
        ))
      }
    </ul>
  </div>
</section>
