---
import type { Employee } from "../../types/employee.types";

import { Image } from "astro:assets";
import jumbotron from "../../images/jumbotron-alvin-berthelot.jpg";
const employee: Employee = Astro.props.employee;
---

<section id="jumbotron">
  <div class="text">
    <h1>{employee.firstname} {employee.lastname}</h1>
    <p class="py-2">{employee.skillsSection.description}</p>
  </div>
  <div class="picture">
    <Image src={jumbotron} alt="Photo de profil d'Alvin Berthelot" />
  </div>
</section>
