---
layout: layouts/app.layout.njk
---

<h2>Employés</h2>

<ul>
  {%- for employee in collections.employees %}
  <li><a href="{{ employee.url }}">{{ employee.data.firstname }}</a></li>
  {%- endfor %}
</ul>
