---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ website.company.website.completeUrl }}</loc>
    <lastmod>{{ page.date | htmlDateString }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>1</priority>
  </url>
{%- for page in collections.employees %}
  {% set absoluteUrl %}{{ website.company.website.completeUrl }}{{ page.url | url }}{% endset %}
  <url>
    <loc>{{ absoluteUrl }}</loc>
    <lastmod>{{ page.date | htmlDateString }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>1</priority>
  </url>
{%- endfor %}
</urlset>
