<section class="grid grid-cols-8 mb-12">
  <div class="col-span-1"></div>
  <div class="col-span-3">
    <h1>
      <span>Applications</span><br />
      <span>web & mobiles</span><br />
      <span class="text-cyan">conçues pour vous</span>
    </h1>
  </div>
  <div class="col-span-4"></div>
</section>
<div class="mt-6 mb-6 py-6">
  {% include "index/section-services.html" %}
</div>
<div class="mt-6 mb-6 py-6">
  {% include "index/section-whoami.html" %}
</div>
<div class="mt-6 mb-6 py-6">
  {% include "index/section-projects.html" %}
</div>
